body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    color: #333;
}

#tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-top: 50px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell.x::before {
    content: 'X';
    font-size: 2rem;
    color: #ff3333;
}

.cell.o::before {
    content: 'O';
    font-size: 2rem;
    color: #3333ff;
}

.hide {
    display: none;
}

#winning-message {
    margin-top: 20px;
    font-size: 1.5rem;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #0056b3;
}
